
html, body {
  width: auto;
  background-color: black;
  height: 100%;
}

.App-logo {
  position: absolute;
  top: 15px;
  left: 0;
  height: 15vmin;
}



.App-logo:hover {
  transform: scale3d(1.1, 1.1, 1);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

