.movie-title {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 0.5em;
      color: aqua;
      text-align: center;
}

.movie-release {
      font-size: 0.8em;
      font-weight: bold;
      margin-bottom: 0.5em;
      color: aqua;
      text-align: center;
}

.Player {
      width: fit-content;
      height: fit-content;
      border: 1px solid aqua;
      border-radius: 5px;
      position: relative;
      margin: 0 auto;
      box-sizing: border-box;
      padding: 1em;
      box-shadow: 0 0 10px aqua;
}

.show-title {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 0.5em;
      color: aqua;
      text-align: center;
}

.show-release {
      font-size: 0.8em;
      font-weight: bold;
      margin-bottom: 0.5em;
      color: aqua;
      text-align: center;
}

.Player iframe {
      max-width: 70vmin;
      width: 100vmin;
      height: 70vmin;
      max-height: 50vmin;

      border: none;
}