@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* *=========== Default theme =========== */
@layer base {
  /* :root {
    --background: 253 48% 99%;
    --foreground: 253 78% 4%;
    --muted: 223 38% 94%;
    --muted-foreground: 223 8% 39%;
    --popover: 253 48% 98%;
    --popover-foreground: 253 78% 3%;
    --card: 253 48% 98%;
    --card-foreground: 253 78% 3%;
    --border: 253 6% 89%;
    --input: 253 6% 89%;
    --primary: 253 92% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 223 92% 48%;
    --secondary-foreground: 0 0% 100%;
    --accent: 283 92% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 18 96% 26%;
    --destructive-foreground: 18 96% 86%;
    --ring: 253 92% 48%;
    --radius: 0.5rem;
  } */

  :root {
    --background: 253 50% 4%;
    --foreground: 253 20% 99%;
    --muted: 223 38% 6%;
    --muted-foreground: 223 8% 61%;
    --popover: 253 50% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 253 50% 5%;
    --card-foreground: 0 0% 100%;
    --border: 253 6% 10%;
    --input: 253 6% 10%;
    --primary: 253 92% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 223 92% 48%;
    --secondary-foreground: 0 0% 100%;
    --accent: 283 92% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 18 96% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 253 92% 48%;
    --radius: 0.5rem;
  }
}

/* *=========== Orange theme =========== */
/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 24 9.8% 8%;
    --card-foreground: 0 0% 95%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
} */

.shadow-light {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.085);
}

.shadow-dark {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.141);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  #scrollbar_hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
